<div>
    <h1>{{onceCountry.name}}</h1>
    <ul class="country__list">
        <li class="country__item">Capital: {{onceCountry.capital}}</li>
        <li class="country__item">Population: {{onceCountry.population}}</li>
        <li class="country__item">Languages:
            <ol class="languages__list">
                {{#each onceCountry.languages}}
                <li class="languages__item">{{this.name}}</li>
                {{/each}}
            </ol>
        </li>
    
    </ul>
</div>
<img class="country__flag" src="{{onceCountry.flag}}" alt="{{onceCountry.name}}">
